*.o
*.bin
tools/bin_vocabulary
CameraTrajectory.txt
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/RGB-D/rgbd_tum
Examples/Stereo/stereo_kitti
Vocabulary/ORBvoc.txt
lib/
Thirdparty/g2o/lib/
Thirdparty/DBoW2/lib/
KeyFrameTrajectory.txt
